// Main Button Styles
@mixin btn-color($color) {
  background-color: $color;
  color: white;

  &:hover {
    color: white;
    opacity: 0.9;
  }
}

.btn-main {
  @include btn-color($main-color)
}

.btn-second {
  @include btn-color($second-color)
}

.btn-third {
  @include btn-color($second-color)
}

.btn-filter {
  @include btn-color($third-color);
  color: $main-color;
  transition: 0.6s;

  &:hover {
    background-color: $main-color;
    color: $third-color;
    transition: 0.6s;
  }
}

.btnSize {
  height: 35px;
}

.btn-margin {
  margin-top: 28px;
  // width: 120px;
}

@media only screen and (max-width: 767px) {
  .btn-margin {
    // width: 120px;
    float: right;
    margin-bottom: 25px;
    margin-top: 0px;
  }
}


@media only screen and (max-width: 576px) {
  .btn-margin {
    // width: 120px;
    float: right;
    margin-bottom: 25px;
    margin-top: 0px;
  }
}

@media (max-width: 768px) {
  .full-btn {
    width: 100%;
  }
} 